@import "src/styles/colors";

.formPage{

}

.container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: $dark;
  border-radius: 10px;
  margin: 0 auto;
}

.formContainer {
  width: 495px;
  margin: 40px 0 0;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
}

.button {
  margin: 40px 0;
}

.lightContainer {
  background: $white;
}
